* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15%;
}
.container #title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}
.container #filter {
    display: flex;
    flex-direction: row;
}
.container .function_of_filter {
    padding: 10px 10px 10px 10px;
}
.filter2 {
    transform: scale(1.3);
    font-weight: bolder;
    color: rgb(146, 146, 146);
}
.filter1 {
    transform: scale(1.3);
    font-weight: bolder;
    color: black !important;
}
.container .function_of_filter:hover {
    cursor: pointer;
}
.container .box {
    display: flex;
}
.container #request {
    width: 350px;
}
.container #search_button {
    width: 80px;
    background: gray;
    cursor: pointer;
    color: rgb(209, 205, 205);
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
}
.container #search_button:hover {
    background: lightgray;
    color: black;
}
.swith {
    position: absolute;
    top: 2%;
    right: 1%;
    text-align: center;
    display: flex;
    font-size: 1.5vw;
}

.swith .languege {
    cursor: pointer;
    height: 13px;
    padding-bottom: 20%;
    margin-left: 1px;
}

.swith .languege_color_bk_box-sh {
    background: rgb(119, 119, 121);
    color: white;
}
.swith .languege:hover{
    box-shadow: 0px 0px 1px black;
}
.swith .languege2 {
    box-shadow: none !important;
    background: rgb(119, 119, 121);
    color: white;
}